{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <article class="mb-4">
        <div class="container px-3 px-lg-4">
            <h3>Bienvenue ici !</h3>
            <p>En espérant que ce blog t'accompagne et t'aide à trouver des solutions à tes problèmes de parcours.</p>
            <p>
                J'écris des articles sur mon peu de temps libre, je fais au mieux pour que le blog soit actif MAIS ! Tu peux m'aider, pour cela, rendez-vous sur la page
                "<a href="{{ path('app_app_contribute') }}">contribuer</a>", toutes les informations nécessaires pour la modification ou création d'un article se trouve là-bas.
            </p>
            <p>Si tu veux en apprendre un peu plus sur moi, tu peux lire ma présentation dans "<a href="{{ path('app_app_about') }}">à propos</a>" :)</p>
            <p>Au fait, les articles ne sont pas triés par date.</p>

            <h3>Une idée d'article ?</h3>
            <p>Si tu as une idée d'article, déjà bravo, ensuite, si te te sens motivé, tu peux toi-même l'écrire ou m'en parler sur Twitter, GitHub, LinkedIn ou Discord (<i>XenoX#8338</i>)</p>
        </div>
    </article>
{% endblock %}
